.task {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--oil-color);
  padding: 10px;
  border-radius: 1rem;
  border: solid 1px var(--skin-color);
  &__left {
    display: flex;
    align-items: center;
    justify-content: center;
    &__circle {
      width: 2rem;
      height: 2rem;
      border-radius: var(--border-rounded);
      border: solid 1px var(--orange-color);
      margin-right: 1rem;
      &--done {
        width: 2rem;
        height: 2rem;
        border-radius: var(--border-rounded);
        margin-right: 1rem;
        background-color: green;
      }
    }
  }

  &__text {
    &--done {
      text-decoration-line: line-through;
    }
  }
  &__right {
    &__icon {
      width: 2rem;
      margin-left: 1rem;
      height: 2rem;
    }
  }
}
.list {
  list-style: none;
}
